In [1]:
import pandas as pd

In [2]:
path = "D:/_Repository/Github/ProtocoleData/Data_contentieux_date.csv"
dataset = pd.read_csv(path, delimiter=";", low_memory=False )# Dataset is now stored in a Pandas Dataframe

# opsd_daily = pd.read_csv('C:/Users/Jupyter_Notebook/Data_contentieux.csv', error_bad_lines=False)

In [3]:
dataset.shape

(1048547, 23)

In [4]:
dataset.columns

Index(['juridiction', 'lieu', 'formation', 'requete', 'date', 'nom',
       'demandeur', 'fondement', 'issue', 'urgence', 'doute_serieux', 'mort',
       'espece_individu', 'euthanasie', 'conditions_de_vie', 'chasse',
       'espece', 'qualification', 'securite', 'salubrite', 'protection',
       'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [5]:
table_field = list(dataset.columns.values)
table_field

['juridiction',
 'lieu',
 'formation',
 'requete',
 'date',
 'nom',
 'demandeur',
 'fondement',
 'issue',
 'urgence',
 'doute_serieux',
 'mort',
 'espece_individu',
 'euthanasie',
 'conditions_de_vie',
 'chasse',
 'espece',
 'qualification',
 'securite',
 'salubrite',
 'protection',
 'Unnamed: 21',
 'Unnamed: 22']

In [6]:
dataset['date']= pd.to_datetime(dataset['date'], dayfirst=True, errors='coerce')
dataset['requete']= pd.to_datetime(dataset['requete'], dayfirst=True, errors='coerce')

print(dataset)
# DatetimeIndex = dataset.set_index('Date')
# DatetimeIndex(dataset.Date, dtype='datetime64[ns]', freq=None)

        juridiction lieu  formation    requete       date  \
0                CE  NaN  cassation 2001-02-23 2001-05-16
1                CE  NaN      ord.  2001-06-08 2001-07-09
2                CE  NaN      ord.  2001-07-13 2001-08-08
3                CE  NaN        NaN 2003-08-01 2004-01-14
4                CE  NaN        NaN 2004-08-13 2004-08-20
...             ...  ...        ...        ...        ...
1048542         NaN  NaN        NaN        NaT        NaT
1048543         NaN  NaN        NaN        NaT        NaT
1048544         NaN  NaN        NaN        NaT        NaT
1048545         NaN  NaN        NaN        NaT        NaT
1048546         NaN  NaN        NaN        NaT        NaT

                                                       nom         demandeur  \
0                                            Epoux Duffaut        administré
1        ass. fédérative régionale pour la protection d...  ass. spécialisée
2                                                    BRARD       administré
3                                                    ASPAS    ass. nationale
4                                                    ASPAS    ass. nationale
...                                                    ...               ...
1048542                                                NaN               NaN
1048543                                                NaN               NaN
1048544                                                NaN               NaN
1048545                                                NaN               NaN
1048546                                                NaN               NaN

                    fondement       issue  urgence  ... euthanasie  \
0        article L. 521-1 CJA  Suspension      Oui  ...        Oui
1        article L. 521-1 CJA      Rejet       Non  ...        Non
2        article L. 521-1 CJA       Rejet  Silence  ...        Non
3        article L. 521-1 CJA       Rejet      Non  ...        Non
4        article L. 521-1 CJA       Rejet  Inutile  ...        Non
...                       ...         ...      ...  ...        ...
1048542                   NaN         NaN      NaN  ...        NaN
1048543                   NaN         NaN      NaN  ...        NaN
1048544                   NaN         NaN      NaN  ...        NaN
1048545                   NaN         NaN      NaN  ...        NaN
1048546                   NaN         NaN      NaN  ...        NaN

        conditions_de_vie chasse                   espece qualification  \
0                     Non    Non                   Bovins         Rente
1                     Oui    Non  Oiseaux et gibier d'eau       Sauvage
2                     Non    Oui                    Loups       Sauvage
3                     Non    Oui  Ragondins et rat musqué       Sauvage
4                     Non    Oui                    Loups       Sauvage
...                   ...    ...                      ...           ...
1048542               NaN    NaN                      NaN           NaN
1048543               NaN    NaN                      NaN           NaN
1048544               NaN    NaN                      NaN           NaN
1048545               NaN    NaN                      NaN           NaN
1048546               NaN    NaN                      NaN           NaN

        securite salubrite protection Unnamed: 21 Unnamed: 22
0            Non       Oui        Non         NaN         NaN
1            Non       Non        Oui         NaN         NaN
2            Oui       Non        Oui         NaN         NaN
3            Non       Non        Non         NaN         NaN
4            Oui       Non        Oui         NaN         NaN
...          ...       ...        ...         ...         ...
1048542      NaN       NaN        NaN         NaN         NaN
1048543      NaN       NaN        NaN         NaN         NaN
1048544      NaN       NaN        NaN         NaN         NaN
1048545      NaN       NaN        NaN         NaN         NaN
1048546      NaN       NaN        NaN         NaN         NaN

[1048547 rows x 23 columns]

In [7]:
dataset.dtypes
#pd.to_datetime(dataset['Date'], dayfirst=True)

juridiction                  object
lieu                         object
formation                    object
requete              datetime64[ns]
date                 datetime64[ns]
nom                          object
demandeur                    object
fondement                    object
issue                        object
urgence                      object
doute_serieux                object
mort                         object
espece_individu              object
euthanasie                   object
conditions_de_vie            object
chasse                       object
espece                       object
qualification                object
securite                     object
salubrite                    object
protection                   object
Unnamed: 21                 float64
Unnamed: 22                 float64
dtype: object

In [10]:
import matplotlib.pyplot as plt
import seaborn as sns
# Use seaborn style defaults and set the default figure size
sns.set(rc={'figure.figsize':(11, 4)})

In [11]:
dataset = dataset.set_index('date')

dataset.index
#dataset['date'].plot(linewidth=0.5);
# , 'requete'

DatetimeIndex(['2001-05-16', '2001-07-09', '2001-08-08', '2004-01-14',
               '2004-08-20', '2004-10-28', '2004-12-02', '2005-06-10',
               '2005-07-21', '2005-08-03',
               ...
                      'NaT',        'NaT',        'NaT',        'NaT',
                      'NaT',        'NaT',        'NaT',        'NaT',
                      'NaT',        'NaT'],
              dtype='datetime64[ns]', name='date', length=1048547, freq=None)