In [6]:
#Import des librairies pandas, scikit-learn et numpy
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

# Importer le dataset
dataset = pd.read_excel("201904_REGR.xlsx",sheet_name=1,header=0,index_col=0)

dataset.head()

           Hommes  Femmes  Total
Salaire
1000-2000      20      90    110
2000-3000      70      75    145
3000-4000     120      90    210
4000-5000      80      30    110
Total         290     285    575

In [9]:
# Calcul du Chi2
from scipy.stats import chi2_contingency
from scipy.stats import chi2
# contingency table
print(dataset)
stat, p, dof, expected = chi2_contingency(dataset)
print('dof=%d' % dof)
print(expected)
# interpret test-statistic
prob = 0.95
critical = chi2.ppf(prob, dof)
print('probability=%.3f, critical=%.3f, stat=%.3f' % (prob, critical, stat))
if abs(stat) >= critical:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')
# interpret p-value
alpha = 1.0 - prob
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

           Hommes  Femmes  Total
Salaire
1000-2000      20      90    110
2000-3000      70      75    145
3000-4000     120      90    210
4000-5000      80      30    110
Total         290     285    575
dof=8
[[ 55.47826087  54.52173913 110.        ]
 [ 73.13043478  71.86956522 145.        ]
 [105.91304348 104.08695652 210.        ]
 [ 55.47826087  54.52173913 110.        ]
 [290.         285.         575.        ]]
probability=0.950, critical=15.507, stat=71.693
Dependent (reject H0)
significance=0.050, p=0.000
Dependent (reject H0)

In [10]:
#dimension
print(dataset.shape) # (4, 2)

#affichage des donnÃ©es
print(dataset)

(5, 3)
           Hommes  Femmes  Total
Salaire
1000-2000      20      90    110
2000-3000      70      75    145
3000-4000     120      90    210
4000-5000      80      30    110
Total         290     285    575